.home {
    margin: 0px var(--margin-gen);
}

.banner {
    margin: 100px 0px 40px 0px;
}

/* Sizing down windows */
@media (max-width: 700px) {
    main.home { margin: 0px var(--margin-resized); }
  }