.home {
    margin: 0px var(--margin-gen);
}

.banner {
    margin: 100px 0px 20px 0px;
}

.explore {
    margin-bottom: 10px;
    color: var(--color-accent);
    font-family: var(--font-playfair);
    font-weight: 590;
}

.exploreNavigation {
    display: flex;
    flex-direction: column;
}

.divider {
    width: 126px;
    padding: 7px;
}

.pagesAndFilters {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}

.filters {
    float: right;
}

/* Sizing down windows */
@media (max-width: 700px) {
    main.home { margin: 0px var(--margin-resized); }
  }