
.body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 70px;
  }
  
  .appMain {
    width: 100%;
    max-width: 700px;
    padding: 20px;
    display: flex;
    flex-direction: column;

  }
  
  .post {
    width: 100%;
    max-width: 500px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .postHeader {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .postHeader .postUsername {
    font-weight: bold;
    margin-left: 10px;
  }
  
  .profileImage{
    width: 35px;
    border-radius: 20px;
  }

  .postImage {
    width: 100%;
    height: 450px;
  }
  
  .button {
    width: 40%;
  }

  .relatedWorks {
    display: flex;
    width: 200px;
    gap:60px;
  }
  
  .box {
    display: flex;
  }

  .box2 {
    display: flex;
    width: 150px;
    gap:30px;
  }

  .description {
    width: 500px;
    height: 280px;
    background-color: #efececf6;
    border: 1px solid #ccccccbb;
    padding: 20px;
    box-sizing: border-box;
  }

  .hashtag{
    max-width:fit-content;
    height:35px;
    background-color: #ccccccbb;
  }

  .hashtags{
    display: flex;
    gap: 39px;
  }