.navbar {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  height: rem(56px);
  background-color: var( --color-primary);
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px var(--margin-gen);
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  /* For light and dark mode */
  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.logoText {
  font-family: var(--font-pacifico);
  font-size: var(--font-size-logo);
  padding-top: 5px;
  text-shadow: -2px 1.1px var(--color-accent);
}

.logoText:before {
  content: 'Kar';
  color: var(--color-secondary);
}

.logoText:after {
  content: 'bee';
  color: var(--color-logo);
}

/* Sizing down windows */
@media (max-width: 700px) {
  div.inner { margin: 0px var(--margin-resized); }
}
