.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.followers {
    color: grey;
    font-weight: bold;
}

.mainLinks {
    margin-left: 0;
}

.mainLink {
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    margin-right: var(--mantine-spacing-md);
    font-weight: 400;
    font-family: var(--font-inter);
    text-align: left;
    border-bottom: rem(2px) solid transparent;
    transition: border-color 100ms ease, color 100ms ease;

    @mixin hover {
        color: light-dark(var(--color-accent), var(--mantine-color-white));
        text-decoration: none;
    }

    &[data-active] {
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
        border-bottom-color: var(--color-primary);
        font-weight: 500;
    }
}

.home {
    margin: 0px var(--margin-gen);
}

.banner {
    margin: 100px 0px 20px 0px;
}

.explore {
    margin-bottom: 0px;
    color: var(--color-accent);
    font-family: var(--font-playfair);
    font-weight: 590;
}

.exploreNavigation {
    display: flex;
    flex-direction: column;
}

.dividerShort {
    width: 126px;
    padding: 7px;
}

.pagesAndFilters {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 0px;
}

.filters {
    float: right;
}

/* Sizing down windows */
@media (max-width: 700px) {
    main.home {
        margin: 0px var(--margin-resized);
    }
}

.card {
    transition: transform 150ms ease, box-shadow 150ms ease;

    &:hover {
        box-shadow: var(--mantine-shadow-md);
    }
}

.title {
    font-family: var(--font-inter);
    font-size: medium;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card {
    transition: transform 150ms ease, box-shadow 150ms ease;

    &:hover {
        box-shadow: var(--mantine-shadow-md);
    }
}

.titleSmall {
    font-family: var(--font-inter);
    font-size: small;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}