@import url("https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

:root {
  /* fonts */
  /* card, general, explore heading, logo */
  --font-worksans: "Work Sans";
  --font-inter: Inter;
  --font-playfair: "Playfair Display";
  --font-pacifico: Pacifico;

  /* sizes */
  --font-size-gen: 18px;
  --font-size-logo: 30px;

  /* Colors */
  /* navbar/footer, logofront, logoback */ 
  --color-accent: #611111;
  --color-primary: #ff7a00;
  --color-secondary: #ffae00;
  --color-tertiary: #ffedbd;
  --color-logo: #FCC419;
  
  /* Gaps */
  --gap-close: 5px;
  --gap-logos: 15px;

  /* Margins */
  --margin-gen: 80px;
  --margin-resized: 20px;
}

/* Applies to all pages */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #2980b9;
  
}

img {
  max-width: 100%;
  display: block;
}

