.card {
    height: rem(240px);
    background-size: cover;
    background-position: center;
    background-image: url("../../../public/banner.png");
  }
  
  .content {
    position: absolute;
    inset: 0;
    padding: var(--mantine-spacing-xl);
    z-index: 1;
    font-family: var(--font-worksans);
  }

  .title {
    font-family: var(--font-pacifico);
    color: var(--color-accent);
    margin-bottom: 20px;
  }

  .description {
    color: var(--color-accent);
    max-width: 40%;
  }
  
  .action {
    margin-top: 15px;
  }
  
  .overlay {
    background-color: transparent;
    background-image: linear-gradient(
      to right,
      var(--color-secondary) 30%, 
      transparent 90%
    );
  }

/* Sizing down windows */
@media (max-width: 800px) {
  .description { max-width: 80%; }
}