.card {
    height: rem(240px);
    background-size: cover;
    background-position: center;
    background-image: url("../../../public/banner.jpg");
  }
  
  .content {
    position: absolute;
    inset: 0;
    padding: var(--mantine-spacing-xl);
    z-index: 1;
    font-family: var(--font-worksans);
  }
  
  .action {
    position: absolute;
    bottom: var(--mantine-spacing-xl);
    left: var(--mantine-spacing-xl);
  }
  
  .title {
    color: var(--color-accent);
    margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  }
  
  .description {
    color: var(--color-accent);
    max-width: 40%;
  }
  
  .overlay {
    background-color: transparent;
    background-image: linear-gradient(
      to right,
      var(--color-secondary) 30%, 
      transparent 90%
    );
  }

/* Sizing down windows */
@media (max-width: 800px) {
  .description { max-width: 80%; }
}